@use "../abstracts/variables" as *;

.app {
  width: 100%;
  max-width: 650px;

  padding: 24px;

  background: $color-card;

  border-radius: $radius-lg;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}