$color-dark: #111;
$color-light: #fff;

$color-border: #dcdcdc;
$color-border-light: #ececec;

$color-bg: #f4f4f4;
$color-card: #ffffff;
$color-task: #f7f7f7;

$color-danger: #ff4d4d;

$color-filter: #e5e5e5;
$color-filter-hover: #d4d4d4;

$radius-sm: 8px;
$radius-md: 10px;
$radius-lg: 14px;

$transition: all 0.2s ease;